@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
}

body
{
	height: 100vh;

	display: flex;
	align-items: center;
	justify-content: center;

	background-color: #7EFFA2;
}

div.clock-box
{
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	height: 90vh;

	background-color: #34422F;
	padding: 30px;
	border-radius: 10px;
}

div.date
{
	display: flex;
	align-items: center;

	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;

	line-height: 19px;
	letter-spacing: 3px;
	color: #FFFFFF;
}

div.display .hours,
div.display .minutes
{
	font-family: Orbitron;
	font-style: normal;
	font-weight: normal;
	font-size: 72px;
	line-height: 90px;
	display: flex;
	align-items: center;
	justify-content: center;
	letter-spacing: 3px;
}

div.display .hours
{
	color: #FFFFFF;
}

div.display .minutes
{
	color: #6AD77B;
}

[type="button"]
{	
	font-family: Orbitron;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 23px;
	letter-spacing: 3px;
	color: #18241E;

	background: #6AD77B;
	box-sizing: border-box;
	border-radius: 25px;
}

[type="button"]:hover
{
	cursor: pointer;
}

@media screen and (max-width: 1200px){
	.clock-box
	{
		width: 40vw;
	}
}

@media screen and (max-width: 900px){
	.clock-box
	{
		width: 50vw;
	}
}

@media screen and (max-width: 600px){
	.clock-box
	{
		width: 70vw;
	}
}

@media screen and (max-width: 300px){
	.clock-box
	{
		width: 90vw;
	}
}

@media screen and (min-width: 1201px){
	.clock-box
	{
		width: 30vw;
	}
}